@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,500&display=swap');

$primary: rgba(16, 78, 212, 0.774);
$secondary: rgba(216, 117, 60, 0.835);
$family-logo: 'Dancing Script';
$family-card: 'Zilla Slab';
$family-form: 'Montserrat';